body{
    background-image: url(https://images.unsplash.com/photo-1603555759292-8bd97148c31e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    background-repeat: no-repeat;
    ima
}
.head{
    color: whitesmoke;
    text-align : center;
    text-transform: uppercase;
    background-color: black;
    opacity: 0.5;
}.input{
    color: rgb(39, 32, 32);
    padding-top: 5px;
    
}
.milk{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.milk p {
    color: black;
    align-items: center;
}
.btn{
    padding-top: px;
    background-color: black;
    color: blanchedalmond;
}
.button{
    padding-top: 5px;
    float: right 50%;
    padding-left: 135px;
    

}

/*styles sales bar*/

.navsales {
    width: 100%;
    background-color: lightgrey;
    overflow: auto;
    margin-top: 10px;
    opacity: 0.5;
    
    
  }
  .navsales a {
    float: left;
    padding-right: 5px;
    color:black;
    text-decoration: none;
    font-size: 30px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    

  }
  .navsales a:hover {
    background-color: lightsteelblue;
  }
  .navsales a.active {
    background-color: #4CAF50;
  }


